:root {
  --blue-50: #e9f7fe;
  --blue-60: #def3fd;
  --blue-70: #d3f0fd;
  --blue-80: #c8ecfc;
  --blue-90: #bde8fc;
  --blue-100: #b2e5fb;
  --blue-200: #8cd8f9;
  --blue-300: #5cc8f6;
  --blue-400: #40bcf4;
  --blue-500: #18ade9;
  --blue-600: #0f9cd4;
  --blue-700: #0b7aa6;
  --blue-800: #085f81;
  --blue-900: #064962;
}
