:root {
  --green-50: #e6fcee;
  --green-60: #dcfae6;
  --green-70: #d1f8df;
  --green-80: #c7f6d7;
  --green-90: #bcf4d0;
  --green-100: #b2f2c8;
  --green-200: #8aecae;
  --green-300: #4ce584;
  --green-400: #1ce062;
  --green-500: #00e054;
  --green-600: #00c64a;
  --green-700: #009c3b;
  --green-800: #00782d;
  --green-900: #005c23;
}
