:root {
  --orange-50: #fff2e6;
  --orange-60: #ffeddb;
  --orange-70: #ffe7d1;
  --orange-80: #ffe2c6;
  --orange-90: #ffdcbc;
  --orange-100: #ffd6b2;
  --orange-200: #ffc28c;
  --orange-300: #ffa758;
  --orange-400: #ff9028;
  --orange-500: #ff8000;
  --orange-600: #e87400;
  --orange-700: #b55a00;
  --orange-800: #8c4600;
  --orange-900: #6b3500;
}
