:root {
  --shade-10: #fcfdfe;
  --shade-20: #f8fafb;
  --shade-30: #f4f6f8;
  --shade-40: #eff2f5;
  --shade-50: #e9edf1;
  --shade-60: #e2e7ec;
  --shade-70: #dae0e7;
  --shade-80: #d2dae2;
  --shade-90: #cad3dc;
  --shade-100: #c1ccd6;
  --shade-200: #aab8c5;
  --shade-300: #99aabb;
  --shade-400: #8599ab;
  --shade-500: #667788;
  --shade-600: #5a6b7c;
  --shade-700: #445566;
  --shade-800: #34414e;
  --shade-900: #2c3440;
  --shade-910: #242c36;
  --shade-920: #14181c;
  --shade-930: #101418;
  --shade-940: #0c0f12;
  --shade-950: #0a0c0e;
  --shade-1000: #07090b;
}
